:root {
    --primary-color: #cbbb80;
    --secondary-color: #a669af;
    --accent1-color: #0b4747;
    --accent2-color: #9ccfc7;
    --accent3-color: #253b45;
    --accent4-color: #cf7041;
    --font-family: 'Roboto', sans-serif;
    --box-sizing: border-box;
}


* {
    font-family: 'Roboto', sans-serif;
    ;
    box-sizing: border-box;
}

/* title */
header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom: solid 2px #cf7041;
    column-gap: 8px;

}

header img {
    display: block;
    width: 100%;
    height: auto;
    color: #3c836b;
}

header span {
    font-size: larger;
    color: #0b4747
}

/* navigation */
.hamburger {
    background: none;
    border: none;
    color: #0b4747;
    cursor: pointer;

}

/* .active{font-weight: bold;} */

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/* .navigation {display:none;} */
.navigation ul li {
    display: block;
    padding: 1.5rem;
    color: #253b45;
    text-decoration: none;
    border-bottom: solid #9ccfc7;
}

.navigation a:hover {
    background-color: #cf7041;
    border-radius: 5px;
    color: #9ccfc7;
    padding: 10px;
}

nav a.active {
    /* background-color: none; */
    color: #cf7041;
    font-weight: bold;
    border-radius: 5px;
}

nav a {
    color: #253b45;
}

/* main */
.toggle ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    border-radius: 5px;
    color: #9ccfc7;
    padding: 10px;
    gap: 15px;
}

.toggle a {
    color: #253b45;
    text-decoration: none;
    background-color: #cbbb80;
    border-radius: 5px;
    padding: 10px;
    gap: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #253b45;
    padding: 10px;
    gap: 3.5rem;
    text-align: center;
    border-radius: 10px;
}

.res-grid img {
    width: 300px;
    height: auto;

}

.res-grid section {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 8px;
    background-color: white;
    gap: 15px;
}

/* footer */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-color: #9ccfc7;
    padding: 1rem;
    gap: 10px;
    border-radius: 10px;
}

.bold {
    font-weight: 700;
}