@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 50px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .navigation ul {
        background-color: #fff;
        display: flex;
        color: #253b45;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
        text-align: center;
        background-color: #9ccfc7;
        border-radius: 10px;
    }

    .navigation li {
        padding: 2rem;
        color: #253b45;
        text-decoration: none;
    }
}