@media only screen and (min-width: 38rem) {
    
    header, main, nav, footer {max-width: 900px; margin: 0 auto;}
    header {grid-template-columns: 50px auto;}
    
    .hamburger{display: none;}
        .navigation {
            display: block;
        }
        .navigation ul {
            background-color: #cbbb80;
            display: flex; 
            color: #fff;
            text-align: center;
            padding: 1rem;
            text-decoration: none;
            text-align: center;
        }
                .navigation li {
                    padding: 2rem;
                }
}