@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 50px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        background-color: #fff;
        display: flex;
        color: #253b45;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
        text-align: center;
    }

    .navigation li {
        padding: 2rem;
    }

    .card {
        /* grid-template-columns: 3fr 1fr; */
        display: grid;
            grid-template-columns: 2fr 1fr;
    }
        .course-filter ul li{
            display: block;
            list-style-type: none;
            margin: 10;
            padding: 10;
            text-align: justify;
            gap: 10px;
        }
    .courses {

        /* display: grid; */
        /* grid-template-columns: 1fr 1fr 1fr;} */
        .courseList {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            padding: .5rem 10px;
            justify-content: center;
            color: #253b45;
            text-decoration: none;
            border: solid #cf7041;
            border-radius: 10px;
            background-color: #cbbb80;
            gap: 30px;
        }
    }}